body {
	background-color: #2B3856;
	font-family: "Josefin Sans Light";
	font-size: 16px;
	color: white;
}

#container {
	max-width: 1000px;
	margin: 0 auto;
}

#menu {
	font-family: inherit;
	font-size: 24px;
	color: white;
	user-select: none;
	display: grid;
	grid-template-columns: 300px 500px;
	justify-items: center;
	align-items: center;
}

#submenu {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	color: silver;
}

#name-header {
	font-family: inherit;
	font-size: 36px;
	color: #FFD700;
	user-select: none;
	display: grid;
	grid-template-columns: 300px;
	justify-items: center;
	align-items: center;
}

.menu-button {
	padding: 0;
	margin: 10px 20px;
	transition: color 0.25s;
	cursor: pointer;
}

.menu-button:hover {
	color: white; /* #EAC117; */
}

#intro {
	opacity: 0;
	filter: blur(2px);
	transition: all  0.5s ease-in;
}

#intro.fadein {
	opacity: 1;
	filter: blur(0);
	}
