body {
	background-color: #2B3856;
	font-family: "Josefin Sans Light";
	font-size: 16px;
	color: white;
}

#menu {
	font-family: inherit;
	font-size: 28px;
	color: white;
	user-select: none;
	display: grid;
	grid-template-columns: 300px 200px;
	justify-items: center;
	align-items: center;
}

#submenu {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

#name-header {
	font-family: inherit;
	font-size: 36px;
	color: white;
	user-select: none;
	display: grid;
	grid-template-columns: 300px;
	justify-items: center;
	align-items: center;
}

.menu-button {
	padding: 10px 20px;
	transition: color 0.25s;
	cursor: pointer;
}

.menu-button:hover {
	color: #EAC117;
}
